.drum-machine {
  width: fit-content;
  height: fit-content;
  background-color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content:flex-start;
}

.drum-key-grid{
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 1em;
  margin: 1em;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.drum-key-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}